body{
color:black;
background: red;
border-bottom: solid 3px black;
margin: 20px
}
/* código omitido */

img {
    height: 200px;
}
.categoria-videos{
    display: flex;
}
    
    









